*,
::after,
::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

h2{
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}

.btn{
  align-items: center;
  padding: 5px 13px;
  background: #00BAFC;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  height: 40px;
  border: 3px solid #00BAFC;
  transition: all 0.4s ease;
}

.btn:hover{
  background: #00BAFC;
  color: #FFFFFF;
  border-color: #00BAFC;
  opacity: 0.8;
}

.btn:active{
  opacity: 0.6;
  background: #00BAFC;
  color: #fff;
}

header{
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: 0.6;
  position: fixed;
  z-index: 1000;
}

.header-logo:hover{
  opacity: 0.8;
}

.header-logo:active{
  opacity: 0.4;
}

.header-btn:hover{
  background: #FFFFFF;
  color: #00BAFC;
}

.header-btn:active{
  opacity: 0.6;
  background: #00BAFC;
  color: #fff;
}

.header{
  align-items: center;
}

nav{
  margin-left: auto;
  margin-right: 8px;
}

.nav-item{
  height: 56px;
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
}

.nav-link{
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  padding: 16px;
  transition: all 0.2s ease;
}

.nav-item:hover{
  border-color:#191919;
}

.nav-link:active{
  background: rgba(25, 25, 25, 0.7);
  color: #FFFFFF;
  opacity: 0.7;
}

.nav-item:active {
  border-color: transparent;
}

.hero{
  align-items: center;
 padding: 136px 0 80px;
}

.hero-titles{
  width: 470px;
  height: 224px;
}

.hero-title{
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
  text-align: left;
}

.hero-text{
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 24px;
}

.iframe{
  border-radius: 5px;
}

.services{
  padding: 56px 0;
}

.services-text{
  width: 719px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 16px auto;
}

.services-list{
  margin-bottom: 48px;
  margin-right: -70px;
}

.services-item{
  width: 320px;
  height: 260px;
  left: 100px;
  top: 8px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 24px 58.6px;
  margin: 0 70px 46px 0;
}

.services-item:hover{
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.services-item:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.services-item::before{
  content: "";
  display: inline-block;
  background-image: url('../img/website-illustration.svg');
  width: 202.79px;
  height: 130px;
  background-repeat: no-repeat;
}

.services-bot::before{
  background-image: url('../img/bot-illustration.svg');
  width: 222.13px;
}

.services-smm::before{
  background-image: url('../img/smm-illustration.svg');
  width: 176.85px;
}

.services-design::before{
  background-image: url('../img/design-illustration.svg');
  width: 178.91px;
}

.services-crm::before{
  background-image: url('../img/crm-illustration.svg');
  width: 169.22px;
}

.service-item-title{
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin: 16px 0;
}

.service-item-text{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.services-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-btn{
  margin-right: 32px;
}

.services-link{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #00BAFC;
}

.about{
  padding: 56px 0;
}

.about-text{
  width: 719px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 16px auto;
}

.about-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-item{
  width: 832px;
  height: 278px;
  align-items: center;
  margin-bottom: 48px;
}

.about-item::before{
  content: "";
  display: inline-block;
  background-image: url('../img/step-illlustration.svg');
  width: 300px;
  height: 278px;
}

.about-item2{
  height: 224.59px;
  flex-direction: row-reverse;
}

.about-item::before{
  content: "";
  display: inline-block;
  background-image: url('../img/step2-illlustration.svg');
  height: 224.59px;
}

.about-item3{
  height: 258.9px;
}

.about-item3::before{
  content: "";
  display: inline-block;
  background-image: url('../img/step3-illustration.svg');
  height: 258.9px;
}

.about-item4{
  height: 171.12px;
  flex-direction: row-reverse;
}

.about-item4::before{
  content: "";
  display: inline-block;
  background-image: url('../img/step4-illustration.svg');
  height: 171.12px;
}

.about-item5{
  height: 232.2px;
}

.about-item5::before{
  content: "";
  display: inline-block;
  background-image: url('../img/step5-illustration.svg');
  height: 232.2px;
}

.about-titles{
  width: 500px;
  height: 82px;
  margin-left: auto;
}
.about-title{
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}

.about-des{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.about-btns{
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.about-btn{
  display: inline-block;
  text-align: center;
}

#order{
  background-color: #00BAFC;
}

.order{
  padding: 56px 0;
}

.order-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.order-text{
  width: 719px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin: 16px auto;
}

input{
  background-color: #F3F3F3;
  border: none;
  padding: 19px 104px 19px 16px;
  border-radius: 5px;
}

select{
  background-color: #F3F3F3;
  border: none;
  padding: 19px 154px 19px 16px;
  border-radius: 5px;
}

.phone-input{
  margin: 16px 0;
}

.order-inputs{
  width: 348px;
  height: 304px;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}

.order-btn{
  width: 167px;
  text-align: center;
  margin-top: 16px;
}

footer{
  background: #191919;
  padding: 56px 0;
}

footer a{
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

footer p{
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-text{
  width: 320px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.footer-column-2{
  margin: 0 87px 0 100px;
}

.footer-colmun-2-item{
  margin-bottom: 8px;
}

.footer-colmun-2-item a:active{
  color: #00BAFC;
  opacity: 0.6;
}

.footer-colmun-2-item a:hover{
  color: #00BAFC;
}

.footer-link{
  margin-bottom: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer-link::before{
  content: "";
  display: inline-block;
  background-image: url('../img/telegram.svg');
  width: 22px;
  height: 24px;
  margin-right: 8px;
}

.facebook::before{
  background-image: url('../img/facebook.svg');
}

.instagram::before{
  background-image: url('../img/instagram.svg');
}

.footer-link:active{
  opacity: 0.6;
}

.footer-colmun-3-item a:hover{
  color: #00BAFC;
}